<md-dialog aria-label="Add new device" ng-cloak>
    <form>
        <md-toolbar style="margin-bottom: 20px;">
            <div class="md-toolbar-tools">
                <h2>Add new device</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-gt-sm="row" layout-padding>
            <md-dialog-content layout-gt-sm="column" layout-padding>
                <md-input-container>
                    <label>Ip</label>
                    <input ng-model="device.ip">
                </md-input-container>
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="device.name">
                </md-input-container>
                <md-input-container>
                    <label>Type</label>
                    <input ng-model="device.type">
                </md-input-container>
            </md-dialog-content>

            <md-dialog-content layout-gt-sm="column" layout-padding>
                <md-input-container>
                    <label>Latitude</label>
                    <input ng-model="device.location.latitude">
                </md-input-container>

                <md-input-container>
                    <label>Longitude</label>
                    <input ng-model="device.location.longitude">
                </md-input-container>

                <md-input-container>
                    <label>Tags: (Press enter to add one) </label>
                    <md-chips ng-model="device.tags" readonly="false" md-removable="true"
                              class="custom-chips">
                        <md-chip-template>
                            <span><strong>{{$chip}}</strong></span>
                        </md-chip-template>
                        <button md-chip-remove class="md-primary vegetablechip">
                            <md-icon md-svg-src="img/icons/close.svg"></md-icon>
                        </button>
                    </md-chips>
                </md-input-container>
            </md-dialog-content>

            <md-dialog-content layout-gt-sm="column" layout-padding>
                <md-input-container>
                    <label>Access Rights: </label>
                    <md-chips ng-model="device.accessRights" md-autocomplete-snap="" readonly="false" md-removable="true" md-require-match=""
                              class="custom-chips">
                        <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.name" placeholder="Search for an access right">
                            <span md-highlight-text="searchText">{{item.name}} </span>
                        </md-autocomplete>

                        <md-chip-template>
                            <span><strong>{{$chip.name}}</strong></span>
                        </md-chip-template>
                        <button md-chip-remove class="md-primary vegetablechip">
                            <md-icon md-svg-src="img/icons/close.svg"></md-icon>
                        </button>
                    </md-chips>
                </md-input-container>
            </md-dialog-content>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button ng-click="answer()" style="margin-right:20px;">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>