<md-dialog aria-label="Add new device" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add new device</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-gt-sm="column" layout-padding>
                <md-input-container>
                    <label>Ip</label>
                    <input ng-model="device.ip">
                </md-input-container>
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="device.name">
                </md-input-container>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button ng-click="answer()" style="margin-right:20px;">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>