<md-card-title>
    <md-card-title-text>
        <md-icon md-svg-src="img/icons/android.svg" class="avatar"></md-icon>
        <span class="md-headline">Ip: {{device.ip}}</span>
    </md-card-title-text>
    <md-button class="md-icon-button" ng-click="vm.deleteDevice($event, device)">
        <md-icon md-svg-src="img/icons/delete.svg" aria-label="Delete device"></md-icon>
    </md-button>
</md-card-title>
<md-card-content layout="row" layout-align="space-between">
    <md-card-actions layout="column">
        <span class="md-subhead">Name: {{device.name}}</span>
        <span class="md-subhead">Type: {{device.type}}</span>
        <span class="md-subhead">Tags: </span>
        <md-chips ng-model="device.tags" readonly="true" md-enable-chip-edit="false" md-removable="false"
                  class="custom-chips">
            <md-chip-template>
                <span><strong>{{$chip.name}}</strong></span>
            </md-chip-template>
        </md-chips>
        <span class="md-subhead">Latitude: {{device.location.latitude}}</span>
        <span class="md-subhead">Longitude: {{device.location.longitude}}</span>
        <md-checkbox ng-model="device.map.show" aria-label="Showmap?" >
            Show map
        </md-checkbox>
        <md-content ng-if="device.map.show">
            <ui-gmap-google-map
                    center="device.map.center"
                    zoom="device.map.zoom"
                    dragging="device.map.dragging"
                    bounds="device.map.bounds"
                    events="device.map.events"
                    options="device.map.options"
                    pan="true"
                    control="device.map.control">
                <ui-gmap-marker coords="device.map.clickedMarker" idKey="device.map.clickedMarker.id"
                                options="device.map.clickedMarker.options">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </md-content>
    </md-card-actions>
    <md-card-actions layout="column">
        <span class="md-subhead">Access Rights:</span>
        <md-chips ng-model="device.accessRights" readonly="true" md-enable-chip-edit="false" md-removable="false"
                  class="custom-chips">
            <md-chip-template>
                <span><strong>{{$chip.name}}</strong></span>
            </md-chip-template>
        </md-chips>

        <div>
            <span class="md-subhead">Sensors</span>
            <md-button class="md-icon-button" ng-click="vm.showNewSensorDialog($event, device)">
                <md-icon md-svg-src="img/icons/plus.svg"></md-icon>
            </md-button>
        </div>
        <md-chips ng-model="device.sensors" readonly="true" md-enable-chip-edit="false" md-removable="false"
                  class="custom-chips">
            <md-chip-template>
                <span><strong>{{$chip.name}}</strong></span>
                <em>({{$chip.type}})</em>
            </md-chip-template>
        </md-chips>


        <md-button ng-click="vm.connectToRealDevice(device);">Connect</md-button>
        <md-button ng-click="vm.disconnectFromRealDevice(device);">Disconnect</md-button>


    </md-card-actions>
    <md-card-actions layout="column">
        <md-button class="md-icon-button" md-no-ink ng-click="vm.showContactOptions($event, device)"
                   aria-label="Contact Device">
            <md-icon md-svg-icon="share"></md-icon>
        </md-button>
    </md-card-actions>
</md-card-content>